@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* shared styles */

.join1,
.join2,
.join3 {
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
}

.flex {
    display: flex;
}

.banner-navbar {
    padding-top: 2.5rem;
}

/* navbar */

.fa-solid {
    color: white;
    visibility: hidden;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.navbar h1 {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 900;
}

.navbar ul {
    align-items: center;
    gap: 50px;
    list-style: none;
}

.navbar ul li {
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    ;
}

.navbar button {
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 500;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
}

/* banner */

.banner-image img {
    border-radius: 2px 2px 2px 2px;
    width: 350px;
    height: 580px;
}

.dancing-font {
    font-family: 'Miama', sans-serif;
    font-weight: 300;
}

.banner-container {
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin: 0 auto;
}

.banner-text {
    margin-top: 100px;
}

.banner-text h1 {
    color: black;
    font-family: Inter;
    font-size: 4.875rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 90px;
}

.banner-text p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

.banner-text .join1 {
    padding: 15px 40px;

}

.banner-text .Download {
    margin-left: 10px;
    padding: 15px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 42px;
    background-color: black;
    color: rgb(255, 255, 255);
}



.banner-navbar {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.contents .solid {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid orange;
    border-radius: 50%;
    color: orange;
    background-color: orange;
}

.offer h5 {
    color: black;
    font-family: Inter;
    font-size: 1.5625rem;
    font-weight: 900;
}

.offer h5,
.offer-2 h5 {
    color: rgb(250, 250, 250);
}

.offer p,
.offer-2 p {
    color: rgba(239, 237, 232, 0.5);
}

.offer-2 h5 {
    font-size: 2.5rem;
}

.offer p {
    font-size: 1rem;
    font-weight: 400;
}

.contents-2 {
    position: relative;
    top: -550px;
    left: 240px;
}

.contents {
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10rem;
    right: 7.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(0.8rem);
    background: rgba(45, 45, 45, 0.54);
    width: 200px;
    height: 95px;
}

/* habits */

.habits {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.description h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.center h3 {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}

.center p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
}

.center h3,
p {
    margin-top: 1rem;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.habit-images {
    display: flex;
    margin-top: 60px;
    gap: 6.25rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* marketing section */

.marketing {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 20px 50px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.marketing img {
    width: 360px;
    height: 300px;
    border-radius: 18px 18px 18px 18px;
}

.marketing h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.marketing p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
}

.join2 {
    padding: 15px 60px;
    margin-top: 40px;
}

.marketing {
    margin-top: 7.5rem;
}

/* BMI section */

.bmi-calculator {
    margin-top: 100px;
}

.bmi-description {
    width: 40%;
    margin: 0 auto;
}

.bmi-description p,
h1 {
    text-align: left;
}

.bmi {
    margin-top: 90px;
    padding: 50px 50px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}


.chart {
    margin-bottom: 50px;
}

.chart table {
    margin-top: 50px;
    width: 310px;
    height: 216px;
}

.bmi-description p,
table td,
.calculate p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.join3 {
    padding: 15px 60px;
}

.bmi-description h1 {
    font-size: 3rem;
}

.bmi-description h2,
.chart h2 {
    font-size: 1.75rem;
}

.bmi-description h1,
.chart h2,
.calculate h2 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(255, 255, 255, 0.3);
    padding: 15px;
}

thead td {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.input-value {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.input-value input,
select {
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.span {
    grid-column: span 2;
}

/* Team section */

.team-description {
    margin-top: 100px;
}

.team1,
.team2,
.team3,
.team4,
.team5,
.team6 {
    position: relative;
}

.team1 h4,
.team2 h4,
.team3 h4,
.team4 h4,
.team5 h4,
.team6 h4 {
    position: absolute;
    left: 20px;
    bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
}

.team1 p,
.team2 p,
.team3 p,
.team4 p,
.team5 p,
.team6 p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.team img {
    border-radius: 18px 18px 18px 18px;
    opacity: 0.8;
}

.team {
    padding: 20px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    row-gap: 15px;
}

/* footer section */

.footer {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.1);
    padding: 80px 220px;
}

.f-1 h1,
p,
.f-2 h1,
p,
.f-3 h1,
p {
    text-align: left;
}

.footer-section {
    display: flex;
    justify-content: space-around;
}

.f-1 h1 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 900;
}

.f-1 p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}

.f-2 h2,
.f-3 h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.f-2 p,
.f-3 p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
}

hr {
    width: 1059.5px;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.reserve {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.reserve p {
    text-align: center;
    margin-top: 40px;
}

.hide {
    display: none;
}


/* for smaller devices */

@media screen and (max-width:596px) {

    .banner-container,
    .habit-images,
    .marketing,
    .footer-section,
    .bmi {
        flex-direction: column;
    }

    /* banner-responsive */

    .banner-navbar {
        width: 100%;
    }

    .banner-text {
        margin-top: auto;
    }

    .banner-container {
        margin-top: 40px;
    }

    .join1 span {
        display: none;
    }

    .banner-text h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .contents {
        width: 145.91px;
        height: 74.09px;
    }

    .offer h5,
    .banner-text p,
    .join1,
    .Download {
        font-size: 16px;
    }

    .offer p {
        font-size: 12px;
    }

    .offer-2 h5 {
        font-size: 30px;
    }

    .offer-2 p {
        font-size: 8px;
    }

    .contents {
        border: none;
        bottom: 320px;
        right: 5px;
    }

    .contents-2 {
        border: none;
        left: 200px;
        top: -620px;
    }

    .navbar ul {
        display: none;
    }

    .fa-solid {
        visibility: visible;
    }

    .banner-text .join1 {
        padding: 16px 30px;
    }

    .banner-text .Download {
        padding: 16px 18px;
    }

    .join1,
    .Download {
        /* display: inline; */
        text-align: center;
    }

    /* habit-responsive */

    .description h1,
    .marketing h1 {
        font-size: 30px;
    }

    .description p {
        font-size: 14px;
        text-align: center;
    }

    .habits {
        width: 100%;
        margin-top: -150px;
    }

    .center p {
        text-align: center;
    }

    .center {
        margin-top: -30px;
    }

    /* marketing responsive */

    .marketing img {
        width: 100%;
        height: 40%;
        margin-top: 40px;
    }

    .marketing {
        padding: 20px 30px;
        width: 80%;
    }

    .marketing p {
        font-size: 14px;
        text-align: left;
    }

    .join2 {
        width: 100%;
    }

    /* team responsive */

    .team img{
        height: auto;
    }

    .team1,
    .team4 {
        display: none;
    }

    .team-description {
        margin: 50px 45px;
    }

    .team {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    /* footer responsive*/

    .f-2,
    .f-3 {
        margin-top: 40px;
    }

    .footer hr {
        width: 90%;
    }

    .footer {
        padding: 20px 20px;
    }

    .f-1 p {
        font-size: 12px;
    }

    /* bmi- calculator responsive */

    .bmi-description {
        width: 90%;
    }

    .bmi-description h1 {
        font-size: 30px;
    }

    .bmi-description p {
        font-size: 14px;
    }

    .bmi {
        padding: 10px 20px;
    }

    .calculate h2,
    .chart h2 {
        font-size: 16px;
    }

    .calculate p,
    .chart p {
        font-size: 14px;
    }

    table {
        width: 250px;
        height: 150px;
    }

    .span {
        width: 98%;
    }

    .Sex {
        width: 95%;
    }

    .Weight {
        width: 88%;
    }

    .input-value input,
    select {
        padding-right: 5px;
    }
}